{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2><a href="http://127.0.0.1:8000/blog/">My Django blog</a></h2>
        <p>This is my blog written in django</p>
        <p>I'm a recent graduate and I am looking to improve my development skills.</p>
    </div>
</body>
</html>